html,body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

nav.navbar.navbar-default{
    height: 100px;
   
}


.panel-body.content {
 
   height: 432px;
    overflow-y:scroll;
    width:100%;
}

h1.tituloFoto{
    margin: 0.5rem;
}
img.img-responsive.imgMap{
margin: auto;
}
